 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2></h2>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" id="results">
                    <div class="row">
                        <div class="col-md-2 "></div>
                        <div class="col-md-2"><i class="fa fa-user fa-5x col-md-4"></i><span class="badge margin_l10">6</span></div>
                        <div class="col-md-2"><i class="fa fa-user fa-5x col-md-4"></i><span class="badge margin_l10">5</span></div>
                        <div class="col-md-2"><i class="fa fa-user fa-5x col-md-4"></i><span class="badge margin_l10">3</span></div>
                        <div class="col-md-2"><i class="fa fa-user fa-5x col-md-4"></i><span class="badge margin_l10">2</span></div>
                        <div class="col-md-2"><i class="fa fa-user fa-5x col-md-4"></i><span class="badge margin_l10">1</span></div>

                    </div>
                    <hr class="">
                    <h2>Who Will Be the Top Finishers on Race day? </h2>
                    <p>Above are the top finishers as picke by you. To vote for your Top finshers, head over to the riders page or click the button below.</p>
                    
                </div>
                <div class="col-lg-12 ">
                    <h3>Race Day Details</h3>
                    <p>The Race will take place on 12/07/2014 at 1pm</p>
                    <p>Take a moment to vote for your top 5 Riders. Whomever gets the closests to picking the Top 5 finishers will receive a bottle of Bob's Best BBQ suace. While your at it, check out some of the rider's fovorite recipes.</p>
                </div>
                
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-check"></i> Vote Now!
                    </a>
                </div>
            </div>
        </div>
    </section>