 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2></h2>
                    <hr class="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" id="results"></div>
                <div class="col-lg-12 ">
                    <p>The Race will take place on 12/07/2014 at 1pm</p>
                    <p>Take a moment to vote for your top 5 Riders. Whomever gets the closests to picking the Top 5 finishers will receive a bottle of Bob's Best BBQ suace. While your at it, check out some of the rider's fovorite recipes.</p>
                </div>
                
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-check"></i> Vote Now!
                    </a>
                </div>
            </div>
        </div>
    </section>