 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ "/js/jqBootstrapValidation.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/contact_me.js" | prepend: site.baseurl }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/freelancer.js" | prepend: site.baseurl }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    
    <script type="text/javascript">
       

    </script>
    <script>
    var App = angular.module('bikes_bbq', []);
    
    App.filter('matchesQuery', function(){

        return function(items, query){
            var alternate = query.replace(/ /g,"_").toLowerCase();
            var lcQuery = query.toLowerCase();
            var arrayToReturn = [];        
            for (var i=0; i<items.length; i++){
                if (items[i].title.toLowerCase().indexOf(lcQuery) !== -1 
                               || items[i].words.indexOf(alternate) !== -1) {
                    arrayToReturn.push(items[i]);
                }
            }
            return arrayToReturn;
        };
    });


    App.controller('RecipeListCtrl', function ($scope, $http) {
      $scope.query = "";
      $scope.recipes = [];
      var url = "http://api.yummly.com/v1/api/recipes?_app_id=67b68cf2&_app_key=80bd18008bb922c1f15bb7f554018383&q=bbq&excludedIngredient[]=watermelon&excludedCourse[]course^course-Condiments%20and%20Sauces&requirePictures=true&maxResult=24" + "&callback=JSON_CALLBACK";
      $http.jsonp(url).success(function(data) {
        
        $scope.recipes = data.matches;
        
      }).error(function(data, status) {
          $scope.data = data || "Request failed";
          $scope.status = status;
      });;
    });
    App.controller('RiderListCtrl', function ($scope, $http) {
     
      $scope.riders = [];
      $scope.showhide = false;
      
      var url = "{{site.url}}/data/riders.json";
      $http.get(url).success(function(data) {
        
        $scope.riders = data;
        
      });
      
      $scope.selected_riders = [
          { place : "1st" , riderID : null, classname : "first" },
          { place : "2nd", riderID: null, classname : "second" },
          { place : "3rd", riderID : null, classname : "third" },
          { place : "4th" , riderID : null, classname : "fourth" },
          { place : "5th", riderID : null, classname : "fifth" }
      ];
      $scope.setPlace = function(place){ 
        var index = this.rider.id-1;
        $scope.riders[index].rank = place;
        $scope.selected_riders[place].riderID = this.rider.id;
        this.rider.rank = $scope.selected_riders[place];

      }

      $scope.ageRange = [{
          text : "All",
          classname : "showall",
          min : 0,
          max : 50
        },{
          text : "18–20",
          classname : "showjunior",
          min : 0,
          max : 20
        },{
          text : "21-30",
          classname : "showtwenties",
          min : 21,
          max : 30
        },{
          text : "31–40",
          classname : "showthirties",
          min : 31,
          max : 41
        },{
          text : "41–50",
          classname : "showfourties",
          min : 41,
          max : 50
        }];
      $scope.selectedAge = $scope.ageRange[0];

      

      
      
    });

    </script>
