
<!-- Portfolio Grid Section -->
<section id="portfolio" ng-controller="RecipeListCtrl">
    <div class="container">
        <div class="row">
            <div class="col-md-4 search_cont">
                <input type="text" class="form-control search withsort pull-left" placeholder="Search" ng-model="matchesQuery">
                <div class="dropdown pull-left">
                  <button class="btn btn-default dropdown-toggle sort" type="button" id="dropdownMenu1" data-toggle="dropdown">
                    Sort by
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Rating</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Flavors</a></li>
                    
                  </ul>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <h2>Recipes</h2>
                <hr class="star-primary">
            </div>
            <div class="col-md-4 ">
                <div class="btn-group pull-right" data-toggle="buttons">
                  
                  <label class="btn btn-primary">
                    <input type="checkbox" autocomplete="off"> Chicken
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox" autocomplete="off"> Beef
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox" autocomplete="off"> Pork
                  </label>
                  <label class="btn btn-primary ">
                    <input type="checkbox" autocomplete="off" > Seafood 
                  </label>
                 
                </div>
            </div>
        </div>
        <div class="row">

            {% raw  %}
            <div class="col-sm-6 col-md-3 portfolio-item" ng-repeat="recipe in recipes | filter:matchesQuery">
                <div class="rider_card">
                        
                        <div class="">
                            <img src="{{recipe.imageUrlsBySize.90}}">
                            <p class="pull-right">{{recipe.rating}}</p>
                            <h3>{{recipe.recipeName}}</h3>
                        </div>

                    </a>
                </div>
            </div>
            {% endraw  %}
        </div>
        
    </div>
</section>