
<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row margin_b40">
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="Search">
            </div>
            <div class="col-md-6"><h2 class="text-center">Riders</h2><hr class="star-primary"></div>
            <div class="col-md-2 col-md-offset-1">
                <div class="dropdown pull-right">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                    Sort by
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Age</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Points</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Last Name</a></li>
                    
                  </ul>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <p>Hover over the rider to rank the top five riders you think will win the race on December 7, 2014.<br>If you are the closest to the final results you'll win a bottle of <strong>Bonanza Bob's Best BBQ Sauce!</strong></p>
                
            </div>
            
        </div>
        <div class="row">
            {% for rider in site.data.riders %}
                <div class="col-sm-6 col-md-3 portfolio-item">
                    <div class="rider_card">
                        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <ul class="rank_list">
                                        <li class="rank">1</li>
                                        <li class="rank">2</li>
                                        <li class="rank">3</li>
                                        <li class="rank">4</li>
                                        <li class="rank">5</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row rider">
                                <i class="fa fa-user fa-5x col-md-4"></i>
                                <div class="col-md-8">
                                    <p>Age: {{rider.age}}</p>
                                    <p>Points: {{rider.points}}</p>
                                </div>
                                <h3  class="col-md-12">{{rider.name}}</h3>
                            </div>
                            

                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>