
.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: 0;
}

.search{width: 60%;
    @media($tab){
        width:80%;
        margin-bottom:20px; 
    }
}
.search_cont .dropdown{
    @media($tab){width:20%;}

    button {
        @media($tab){width:100%;}
    }

} 
.search.form-control:focus{
    border: 2px solid #dce4ec;
    border-right: none;
}
.sort{
    background-color: white;
    color: #2c3e50;
    border: 2px solid #dce4ec;
    border-radius: 0px 4px 4px 0px;
    padding-top: 8px;
}
.withsort{
    border-radius: 4px 0px  0px 4px;
    border-right: none;
}
#card_grid .search_cont .dropdown-menu{z-index:4;}

